
#mainbody section{
    width:1000px;
    margin:20px auto 0 auto;
}

#slide-box, #news-box{
    height: 350px!important;
}

#slide-box{
    width:560px;
    overflow: hidden;
}

#slide-box ol li{
    width:14px;
    height:14px;
    margin:0 6px;
    border-radius: 7px;
    background: #fff;
}
#slide-box ol li.active{
    background:#ff9915;
}
#slide-box .btn{
    position: absolute;
    top:36%;
}
#slide-box .btn:hover{
    background: rgba(0, 0, 0, 0.4);
}
#slider{
    width: 560px;
    height: 350px!important;
    overflow: hidden;
}
#news-box{
    width:400px;
    margin-left:30px;
}



#recommend-box, #recommend-rel-info-box{
    height: 440px;
}

#recommend-box{
    width:500px;
    margin:15px 0 0 0;
}
#recommend-rel-info-box{
    width: 460px;
    margin-left:30px;
    padding:15px 0 0 0;
}

#recommend-box .item{width:185px;
    height: 145px;
    padding:15px 25px 25px 25px;
    margin: 10px 5px 0 7px;
    
    cursor: pointer;background-repeat: no-repeat;}

#recommend-box .item.active{background-repeat: no-repeat;}

#industry-change-box{
    width: 500px;
    padding:15px 15px 0 0;
}

#industry-change-box .a, #industry-change-box .b{
    padding:8px 36px;
}
#industry-change-box .a.active{
    color: #fff;
    background: #ed5565;
}

#industry-change-box .b.active{
    color:#fff;
    background: #37bc9b;
}

#industry-change-rel-info-box{
    width:460px;
    margin-left:15px;
    padding:15px 0 0 0;
}

#industry-change-rel-info-box li i{
    margin-right:6px;
}
#industry-change-rel-info-box li a{
    vertical-align: middle;
}



#hgt-box{
    width: 500px;
    height: 300px;
    padding:15px 15px 0 0;
}

#hgt-rel-info-box{
    width:460px;
    margin-left:15px;
    padding:15px 0 0 0;
}



#otc-box{
    width: 500px;
    height: 480px;
    margin:15px 0 0 0;
}

#otc-box .item{width: 190px;
    height: 115px;
    padding: 15px 20px 5px 20px;
    margin: 12px 0 0 13px;background-repeat: no-repeat;}

#otc-rel-info-box{
    width:460px;
    margin-left: 30px;
    padding:15px 0 0 0;
}

#recommend-box .item{background-position:0px 0px}#recommend-box .item.active{background-position:-245px 0px}#otc-box .item{background-position:0px -195px}#recommend-box .item,#recommend-box .item.active,#otc-box .item{background-image: url(/assets/img/newwebsite/index/include/style_z.png)}