<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <link type="text/css" rel="stylesheet" href="/assets/css/vendor/normalize.css">
<link type="text/css" rel="stylesheet" href="/assets/css/vendor/main.css">
<link type="text/css" rel="stylesheet" href="/assets/css/common/common.css">
<!--[if lt IE 8]>
    <link rel="stylesheet" href="/assets/css/common/ie-hack.css">
    <![endif]-->
    <style>
#mainbody section{
    width:1000px;
    margin:20px auto 0 auto;
}

#slide-box, #news-box{
    height: 350px!important;
}

#slide-box{
    width:560px;
    overflow: hidden;
}

#slide-box ol li{
    width:14px;
    height:14px;
    margin:0 6px;
    border-radius: 7px;
    background: #fff;
}
#slide-box ol li.active{
    background:#ff9915;
}
#slide-box .btn{
    position: absolute;
    top:36%;
}
#slide-box .btn:hover{
    background: rgba(0, 0, 0, 0.4);
}
#slider{
    width: 560px;
    height: 350px!important;
    overflow: hidden;
}
#news-box{
    width:400px;
    margin-left:30px;
}



#recommend-box, #recommend-rel-info-box{
    height: 440px;
}

#recommend-box{
    width:500px;
    margin:15px 0 0 0;
}
#recommend-rel-info-box{
    width: 460px;
    margin-left:30px;
    padding:15px 0 0 0;
}

#recommend-box .item{
    width:185px;
    height: 145px;
    padding:15px 25px 25px 25px;
    margin: 10px 5px 0 7px;
    background: url(/assets/img/newwebsite/index/include/rem-stock-bg.png?__sprite) no-repeat 0 0;
    cursor: pointer;
}

#recommend-box .item.active{
    background: url(/assets/img/newwebsite/index/include/rem-stock-bg-1.png?__sprite) no-repeat 0 0;
}

#industry-change-box{
    width: 500px;
    padding:15px 15px 0 0;
}

#industry-change-box .a, #industry-change-box .b{
    padding:8px 36px;
}
#industry-change-box .a.active{
    color: #fff;
    background: #ed5565;
}

#industry-change-box .b.active{
    color:#fff;
    background: #37bc9b;
}

#industry-change-rel-info-box{
    width:460px;
    margin-left:15px;
    padding:15px 0 0 0;
}

#industry-change-rel-info-box li i{
    margin-right:6px;
}
#industry-change-rel-info-box li a{
    vertical-align: middle;
}



#hgt-box{
    width: 500px;
    height: 300px;
    padding:15px 15px 0 0;
}

#hgt-rel-info-box{
    width:460px;
    margin-left:15px;
    padding:15px 0 0 0;
}



#otc-box{
    width: 500px;
    height: 480px;
    margin:15px 0 0 0;
}

#otc-box .item{
    width: 190px;
    height: 115px;
    padding: 15px 20px 5px 20px;
    margin: 12px 0 0 13px;
    background: url(/assets/img/newwebsite/index/include/otc-stock-bg.png?__sprite) no-repeat 0 0;
 }

#otc-rel-info-box{
    width:460px;
    margin-left: 30px;
    padding:15px 0 0 0;
}

</style>
    <!-- 如果是英文版本，则输出英文版本css补丁 -->
    <link rel="stylesheet" href="../../../../css/common/common-en.css">
    <script type="text/javascript" charset="utf-8" src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

<div id="wraper">

    <header id="header">

    <!--[if lt IE 7]>
    <p class="browsehappy">浏览器版本太低，为了更好的浏览体验，请更换或升级浏览器!</p>
    <![endif]-->

    <div id="logo-box" class="hr">

        <div class="inline fl">
            <a href="#"><i class="icon icon-logo"></i></a>&nbsp;&nbsp;
            <a href="#" class="btn btn-2">数据库</a>
        </div>

        <div class="inline search">
            <div class="lgp-2" style="line-height: 1.5;">
                <i class="btn icon icon-search"></i>
                <input type="text" placeholder="公司/新闻搜索" class="input-text">
                <!--<span class="hint t-6"><span class="vm">回车搜索</span> <i class="icon icon-enter"></i></span>-->
            </div>
        </div>

        <div class="inline lg-60 vm">
            <a href="javascript:toLogin();" class="btn btn-0-2 t-14-1-y1" style="margin:0 15px;">{#text key='newwebsite.sign_in'#}</a>
            <b class="inline" style="border-left:solid 1px #ced1d6; height: 36px; vertical-align: middle; "></b>
            <a href="{#$homepage#}/user/sign_up" class="btn btn-0-1 t-14-1-k1" style="margin:0 15px;">{#text key='newwebsite.sign_up'#}</a>
        </div>

        <div class="inline none" ic-dropdown="user">

            <a href="#" class="inline t-14-1-y1"
               style="padding: 0 1em; line-height:60px; height:60px; overflow: hidden; border:solid 1px #ccd1d9; border-top:none; border-bottom: none;" ic-role-dropdown-toggle>
                <b class="vm">DaXiangA</b>&nbsp;&nbsp;
                <i class="icon icon-triangle-01"></i>
            </a>
            <ul class="menu-3-1 fz-12" ic-role-dropdown-menu>
                <li><a href="#">帐号信息</a></li>
                <li><a href="#">更改密码</a></li>
                <li><a href="#">联系客服</a></li>
                <li><a href="#">登出帐号</a></li>
            </ul>

        </div>

        <div class="inline lg-60 vm" style="margin:0 15px;">
        {#if $language eq 'szh'#}

            <a href="{#$homepage#}?lang=en" class="btn btn-0-1 t-14-1-k1">EN</a>

        {#elseif  $language eq 'en'#}
            <a href="{#$homepage#}?lang=szh" class="btn btn-0-1 t-14-1-k1">中文</a>

        {#/if#}
        </div>

    </div>

    <nav id="nav-box">
        <div id="nav-wrap">
            <ul class="inline-list v-top fl">
                <li><a class="active" href="#">{#text key='newwebsite.home'#}</a></li>
                <li><a href="/stock/profile/">{#text key='newwebsite.stocks'#}</a></li>
                <li><a href="#">{#text key='newwebsite.rankings'#}</a></li>
                <li><a href="#">{#text key='newwebsite.shhk'#}</a></li>
                <li><a href="#">{#text key='newwebsite.otc'#}</a></li>
                <li><a href="#">{#text key='newwebsite.information'#}</a></li>
                <li><a href="#">{#text key='newwebsite.personal'#}</a></li>
            </ul>
            <div class="inline v-top fr">
                <a href="/download/plug">{#text key='newwebsite.plug'#}</a>
                <a href="/download/app"><i class="icon icon-phone"></i> &nbsp;{#text key='newwebsite.app'#}</a>
            </div>
        </div>
    </nav>

</header>

    <div id="msg-box">
    <div id="msg-wrap">
        <h6 class="inline v-top"><span>{#text key="newwebsite.lastest_news"#}</span> <i class="icon icon-msg"></i></h6>

        <div class="inline" style="position:relative;width:900px;height:40px;" ic-slider="msg" ic-slider-interval="4000"
             ic-slider-direction="1">
            <ul class="inline-list" ic-role-slider-view>
                <li ic-role-slider-item><span class="fc-6"> [{#text key="newwebsite.lastest_tag"#}]</span> <a href="#">中铝经营亏损 股票有抛出可能</a></li>
                <li ic-role-slider-item><span class="fc-6"> [新闻]</span> <a href="#" target="_blank">中铝经营亏损 股票有抛出可能</a></li>
            </ul>
            <a href="javascript:void(0);" class="icon icon-triangle-02" style="position: absolute; top:0; right: 0"
               ic-role-slider-prev></a>
            <a href="javascript:void(0);" class="icon icon-triangle-01" style="position: absolute; bottom:0; right: 0"
               ic-role-slider-next></a>
        </div>

    </div>
</div>

    <div id="mainbody">

        <section>

    <div id="slide-box" class="inline v-top" ic-slider="a" ic-slider-interval="4000">
        <ul ic-role-slider-view>
            <li ic-role-slider-item><a href="#" target="_blank"><img src="/assets/img/newwebsite/index/include/slide.png"/></a></li>
            <li ic-role-slider-item><a href="#" target="_blank"><img src="/assets/img/newwebsite/index/include/slide.png"/></a></li>
            <li ic-role-slider-item><a href="#" target="_blank"><img src="/assets/img/newwebsite/index/include/slide.png"/></a></li>
            <li ic-role-slider-item><a href="#" target="_blank"><img src="/assets/img/newwebsite/index/include/slide.png"/></a></li>
        </ul>
        <span class="btn btn-0" style="left:0;" ic-role-slider-prev>
            <i class="icon icon-arrows-left"></i>
        </span>
        <span class="btn btn-0" style="right:0;" ic-role-slider-next>
            <i class="icon icon-arrows-right"></i>
        </span>
        <ol class="inline-list-1 hc" style="position: absolute; bottom: 10px;width:100%">
            <li class="" ic-role-slider-pagination="1"></li>
            <li class="" ic-role-slider-pagination="2"></li>
            <li class="" ic-role-slider-pagination="3"></li>
            <li class="" ic-role-slider-pagination="4"></li>
        </ol>
    </div>

    <div id="news-box" class="inline v-top">
        <h2 class="t-1 mb-10">{#text key="newwebsite.top_stories"#}</h2>
        <ul class="list-1 lg-32">
        {#foreach from = $hotnews item = hotnew key = index#}
            <li>
                <span>[{#$hotnew->tag#}]</span>
                <a href="{#$hotnew->lnk#}" target="_blank" {#if $index eq 0#}class="t-3"{#/if#} title="{#$hotnew->tit#}">{#$hotnew->tit#}</a>
                {#if $index eq 0#}
                <p class="lg-24">{#$hotnew->sum|truncate:53:"...":true#}<a class="fc-2" href="{#$hotnew->lnk#}" target="_blank">[查看详细]</a></p>
                {#/if#}
            </li>
        {#/foreach#}
        </ul>
    </div>

</section>

        <!--
====================================================
-->
<section>

    <h2 class="title-1"><strong class="inline text t-1">{#text key="newwebsite.today_recommend"#}</strong></h2>

    <div id="recommend-box" class="inline v-top bg-1" ic-slider="b">
        <ul class="inline-list" ic-tabs="a" ic-tabs-interval="3000" ic-role-slider-view>
            <li ic-role-slider-item>
                {#foreach from=$rcmdstocks key=stockindex item=rcmdstock#}
                    {#if $stockindex eq 4#}
                    </li>
                    <li ic-role-slider-item>
                    {#/if#}
                <div class="item inline" ic-role-tab="{#$stockindex + 1#}">
                    <div class="t-9"><i class="icon icon-fire"></i> Top {#$stockindex + 1#}</div>
                    <div class="t-10">{#$rcmdstock->secu#}</div>
                    <div class="t-10">{#$rcmdstock->name#}</div>
                    <div class="h-right fc-up">+{#$rcmdstock->status->chg#}(+{#$rcmdstock->status->ratio#}%)</div>
                    <div class="h-right t-12">{#$rcmdstock->status->price#}</div>
                </div>
                {#/foreach#}
            </li>
           
        </ul>

        <div class="hc wp-100" style="position: absolute; bottom:15px;">
            <b class="btn btn-1 prev" ic-role-slider-prev> &nbsp;&lt;&nbsp; </b>
            &nbsp;&nbsp;
            <b class="btn btn-1 next" ic-role-slider-next> &nbsp;&gt;&nbsp; </b>
        </div>


    </div>

    <div id="recommend-rel-info-box" class="inline v-top" ic-role-tabc="a">
    {#foreach from=$rcmdinfos key=infoindex item=rcmdinfo#}
        <div ic-role-con="{#$infoindex+1#}">
            <h4 class="mb-15">
                <strong class="t-5">{#$rcmdinfo['name']#}</strong>
                <span class="mr-15"> ( {#$rcmdinfo['secu']#} )</span>
                <a href="javascript:void(0)"><i class="icon icon-add"></i>&nbsp;<b class="t-7">添加到我的个人中心</b></a>
            </h4>
            <ul class="lg-36 list-1">
                {#foreach from=$rcmdinfo['news'] key=newsIndex item=rcmdnews#}
                <li>
                    <span>[{#$rcmdnews->typ#}]</span>
                    <a href="{#$rcmdnews->lnk#}" title="{#$rcmdnews->titl#}" target="_blank">{#$rcmdnews->titl|truncate:20:"":true#}</a>
                    <time>{#$rcmdnews->time#}</time>
                </li>
                {#/foreach#}
            
            </ul>
        </div>
    {#/foreach#}
    
    </div>

</section>

        <section ic-role-tabc="b">

    <h2 class="title-1"><strong class="inline text t-1">{#text key="newwebsite.price_change_ranking"#}</strong></h2>

    <div id="industry-change-box" class="inline vt br-1">

        <div class="hc" ic-tabs="b">

            <span class="btn-group">
                <i class="first btn btn-3 a" ic-role-tab="1">{#text key='newwebsite.rising'#}</i>
                <i class="last btn btn-3 b" ic-role-tab="2">{#text key='newwebsite.dropping'#}</i>
            </span>

            <a href="javascript:void(0)" class="fr btn btn-1">{#text key='newwebsite.reload'#}</a>

        </div>

        <table ic-role-con="1">
            {#foreach from=$topstocksup key=upindex item=up#}
                <tr>
                    <td class="level-up-{#$upindex+1#} level-52">{#$upindex+1#}</td>
                    <td style="width: 240px;padding-left: 20px;"><a class="t-10" href="#">{#$up->name#}</a></td>
                    <td class="w-140 fc-up" style="width: 120px;">+{#$up->ratio#}%</td>
                    <td class="t-6 h-right">{#$up->total#}家</td>
                </tr>
            {#/foreach#}
        </table>
       
        <table ic-role-con="2">
          {#foreach from=$topstocksdown key=downindex item=down#}
            <tr>
                <td class="level-down-{#$downindex+1#} level-52">{#$downindex+1#}</td>
                <td style="width: 240px;padding-left: 20px;"><a class="t-10" href="#">{#$down->name#}</a></td>
                <td class="w-140 fc-down" style="width: 120px;">{#$down->ratio#}%</td>
                <td class="t-6 h-right">{#$down->total#}家</td>
            </tr>
              {#/foreach#}
        </table>        

        <div class="h-center"><a href="#" class="btn btn-1">{#text key='newwebsite.more'#}</a></div>

    </div>

    
    <div id="industry-change-rel-info-box" class="inline vt fc-a-inherit">
        <ul class="list-1 lg-32" ic-role-con="1">
        {#foreach from=$topstockupinfos item=upinfo#}
            <li>
                <i class="icon icon-up"></i>
                <a href="{#$upinfo->lnk#}">{#$upinfo->tit#}</a>
                <time>{#$upinfo->dt#}</time> 
            </li>
        {#/foreach#}
        </ul>

        <ul class="list-1 lg-32" ic-role-con="2">
         {#foreach from=$topstockdowninfos  item=downinfo#}
            <li>
                <i class="icon icon-down"></i>
                <a href="{#$downinfo->lnk#}">{#$downinfo->tit#}</a>
                <time>{#$downinfo->dt#}</time>
            </li>
             {#/foreach#}
        </ul>

    </div>
</section>

        <section>
    <h2 class="title-1"><strong class="inline text t-1">{#text key="newwebsite.shhk_stocks"#}</strong></h2>

    <div id="hgt-box" class="v-top inline br-1">
        <table class="fz-12 table-1">
            <thead>
            <tr class="t-6">
                <th class="w-32">{#text key="newwebsite.no"#}</th>
                <th class="w-72">{#text key="newwebsite.a_share"#}</th>
                <th class="w-36">{#text key="newwebsite.add"#}</th>
                <th class="w-64">{#text key="newwebsite.abbr"#}</th>
                <th class="w-42">{#text key="newwebsite.price"#}</th>
                <th class="w-72">{#text key="newwebsite.h_share"#}</th>
                <th class="w-32">{#text key="newwebsite.add"#}</th>
            <!--     <th class="w-64">{#text key="newwebsite.hbbr"#}</th> -->
                <th class="w-56">{#text key="newwebsite.price"#}</th>
                <th class="w-56">{#text key="newwebsite.premium"#}%</th>
            </tr>
            </thead>
            <tbody>
            {#foreach from=$shnhkstocks key=shnhkindex item=shnhkstock#}
            <tr>
                <td class="level-up-{#$shnhkindex+1#} level-32">{#$shnhkindex+1#}</td>
                <td><a href="#">{#$shnhkstock->sh->secu#}</a></td>
                <td><i class="icon icon-add"></i></td>
                <td><a href="#">{#$shnhkstock->sh->name#}</a></td>
                <td class="fc-2 br-1">{#$shnhkstock->sh->price#}</td>
                <td class="fc-11">{#$shnhkstock->hk->secu#}</td>
                <td><i class="icon icon-add"></i></td>
<!--                 <td><span class="fc-2">{#$shnhkstock->hk->name#}</span></td> -->
                <td class="fc-6">HKD{#$shnhkstock->hk->price#}</td>
                 <td class="fc-6">{#$shnhkstock->premium#}%</td>
            </tr>
            {#/foreach#}
            </tbody>

        </table>
    </div>
    <div id="hgt-rel-info-box" class="v-top inline fc-a-inherit">
        <ul class="list-1 lg-32">
        {#foreach from=$shnhkinfos item=infoindex item=info#}
            <li>
                <span class="fc-5">[{#text key="newwebsite.shhk_tag"#}]</span>
                <a href="{#$info->lnk#}" title="{#$info->tit#}" target="_blank">{#$info->tit|truncate:20:"":true#}</a>
                <time>{#$info->dt#}</time>
            </li>
        {#/foreach#}
        </ul>
    </div>
</section>

        <section>
    <h2 class="title-1"><strong class="inline text t-1">{#text key="newwebsite.otc"#} </strong> <span>{#text key="newwebsite.tvr"#}</span></h2>

    <div id="otc-box" class="inline v-top bg-1" ic-slider="otc">
        <ul ic-role-slider-view>
            <li ic-role-slider-item>
            {#foreach from=$otcrcmdstocks key=otcstockindex item=otcstock#}
                {#if $otcstockindex%6 == 0 and $otcstockindex != 0 #}
                </li>
                <li ic-role-slider-item>
                {#/if#}
                <div class="item inline">
                    <div class="f-left">
                        <div class="t-10">{#$otcstock->code#}</div>
                        <div class="t-10">{#$otcstock->szh|truncate:4:'':true#}</div>
                    </div>
                    <div class="f-right h-right">
                        <div class="fc-7">累计成交额</div>
                        <div class="fc-up">{#$otcstock->amt#}</div>
                    </div>
                    <div class="t-12 h-right">{#$otcstock->caps#}</div>
                </div>
                {#/foreach#}
            </li>
        </ul>
        <div style="position: absolute; bottom: 8px; width:100%; text-align: center;"><a href="#" class="btn btn-1" ic-role-slider-next>换一组</a></div>
    </div>
    <div id="otc-rel-info-box" class="inline v-top">
        <ul class="list-1 lg-36">
            {#foreach from=$otcinfos item=otcinfo#}
            <li>
                <span>[OTC]</span>
                <a href="{#$otcinfo->lnk#}" title="{#$otcinfo->tit#}" target="_blank">{#$otcinfo->tit|truncate:23:''#}</a>
                <time>{#$otcinfo->dt#}</time>
            </li>
            {#/foreach#}
        </ul>
    </div>

</section>

    </div>

    <div id="reg-prompt-box" class="h-center fc-1">
    <div class="fz-16">还没有数库账号？想获得更多数据？</div>
    <div class="fz-20 m-10-0">立即注册，拥有前所未有</div>
    <div><a href="#" target="_blank"  class="btn btn-1-1">免费注册</a></div>

    <!-- 登录弹出框 -->
    <div class="dialog" ic-dialog="login">
        <button class="btn btn-close icon icon-x-black" ic-rold-dialog-close></button>
        
<div class="w-480 p-20-0" ic-ctrl="loginCtrl">


    <h1 class="hc lg-42 t-18-1-a1">登录我的数库</h1>

    <div class="hc form" ic-form="login">

        <div class="tip error" role="status"></div>

        <div class="inline hl">
            <div class="mt-15">
                <input type="text"
                       class="input-text-md"
                       placeholder="用户名/手机号码/电子邮箱"
                       ic-role-field="id"
                       ic-field-rule="id||phone||email"
                       ic-field-err-tip="请输入有效的用户名/手机号码/电子邮箱"
                       role="" />
                <p class="tip error" ic-role-field-err-tip="id"></p>
            </div>

            <div class="mt-15">
                <input type="text"
                       class="input-text-md"
                       placeholder="密码"
                       ic-role-field="password"
                       ic-field-rule="password"
                       ic-field-err-tip="请输入正确的密码"
                       role="">
                <p class="tip error" ic-role-field-err-tip="password"></p>
            </div>

            <div class="hr mt-10">
                <label class="fl"><input type="checkbox"
                                         value="1"
                                         onclick="this.value=this.checked?1:0;"
                                         ic-role-field="remember"
                                         checked> 记住我</label>
                <a href="#" class="fc-y1">忘记密码？</a>
            </div>

            <div class="mt-10">
                <button class="btn btn-1-1 btn-md-1-1"
                        ic-role-submit="login"
                        ic-submit-action="/user/dologin"
                        ic-submit-method="post"
                        ic-submit-before="before"
                        ic-submit-on-done="done"
                        ic-submit-on-failed="failed">登 录</button>
            </div>

            <div class="hr mt-10">
                <span class="fl fc-a0">还没有帐号？ </span>
                <a href="#" class="fc-y1">立即注册</a>
            </div>

        </div>
    </div>

</div>

    </div>
</div>

<footer id="footer" class="fy-1">

    <div class="wrap-1000">
        <div id="csf" class="inline v-top br-1 hc" style="width: 160px;">
                <i class="icon icon-logo"></i>
                <br/>
                <br/>
                <br/>
                <h4 class="">金融大数据专家</h4>
        </div>

        <div id="site" class="inline v-top br-1 hc" style="width:120px;">
            <ul>
                <li><a href="#" target="_blank" >关于数库</a> </li>
                <li><a href="#" target="_blank" >产品介绍</a> </li>
                <li><a href="#" target="_blank" >加入我们</a> </li>
                <li><a href="#" target="_blank" >版权声明</a> </li>
            </ul>
        </div>

        <div id="interface" class="inline v-top br-1">
            <h4>关注我们</h4>
            <ul class="inline-list">
                <li><a href="#" target="_blank"  class="inline"><i class="icon icon-wx"></i></a> </li>
                <li><a href="#" target="_blank"  class="inline"><i class="icon icon-wb"></i></a> </li>
                <li><a href="#" target="_blank"  class="inline"><i class="icon icon-g"></i></a> </li>
                <li><a href="#" target="_blank"  class="inline"><i class="icon icon-tt"></i></a> </li>
                <li><a href="#" target="_blank"  class="inline"><i class="icon icon-f"></i></a> </li>
                <li><a href="#" target="_blank"  class="inline"><i class="icon icon-i"></i></a> </li>
            </ul>
        </div>

        <div id="sky" class="inline v-top br-1 hc" style="width: 200px;">
            <h4 class="">数据云</h4>
            <br/>
            <i class="icon icon-sky"></i>
        </div>

        <div id="et" class="inline v-top hc" style="width:110px;">
            <h4>企业时间</h4>
            <a href="#" target="_blank"  class="inline"><i class="icon icon-et"></i></a>
        </div>


        <div id="partner" class="">
            <h4>合作伙伴</h4>
            <ul class="inline-list">
                <li><a href="#" target="_blank"><i class="icon icon-xlcj"></i></a> </li>
                <li><a href="#" target="_blank"><i class="icon icon-jjgcb"></i></a> </li>
                <li><a href="#" target="_blank"><i class="icon icon-pfyh"></i></a> </li>
            </ul>
        </div>

        <p class="mt-15 hc t-4">© 2014 ChinaScope Financial All Rights Reserved</p>
    </div>

</footer>


</div>

<script type="text/javascript" charset="utf-8" src="/assets/js/vendor/underscore-1.6.0.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/js/vendor/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/js/vendor/plugins.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/js/brick/brick.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/js/common/lang.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/js/common/common.js"></script>
<script>/**
 * Created by julien.zhang on 2014/10/10.
 */

brick.controllers.add('recommend', function (scope) {

    var timer;

    $('[ic-slider=b]').on('ic-slider-pagination', function (e, active) {

        clearInterval(timer);
        var list = $(active).find('[ic-role-tab]');
        var current = list.first().click();
        var next;

        timer = setInterval(function () {
            next = current.next();
            next = next.size() ? next : list.first();

            next.click();
            current = next;
        }, 4000);
    }).delegate('[ic-role-tab]', 'mousedown', function (e) {
        clearInterval(timer);
    });

});


</script>
<script type="text/javascript" charset="utf-8" src="http://192.168.0.178:8132/livereload.js"></script></body>
</html>
