<script type="text/javascript" charset="utf-8" src="/assets/js/vendor/underscore-1.6.0.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/js/vendor/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/js/vendor/plugins.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/js/brick/brick.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/js/common/lang.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/js/common/common.js"></script>
