.icon-step-1,
.icon-step-2,
.icon-step-3
{width: 467px;
    height: 68px;background-repeat: no-repeat;}
.icon-step-2{background-repeat: no-repeat;}
.icon-step-3{background-repeat: no-repeat;}

.icon-phone-type,
.icon-email-type
{width:104px;
    height: 104px;background-repeat: no-repeat;}
.icon-phone-type.active{background-repeat: no-repeat;}
.icon-email-type{background-repeat: no-repeat;}
.icon-email-type.active{background-repeat: no-repeat;}

.icon-phone-type.disabled{background-repeat: no-repeat;}
.icon-email-type.disabled{background-repeat: no-repeat;}

._panel{
    margin-top:40px;
}

.scene2 i b{
    margin-top:62px;
    color:#48cfad;
    font-weight: normal;
    font-style:normal;
}
.scene2 i.active b{
    color: #fff;
}
.scene2 i.disabled b{
    color: #ccd1d9;
}






.icon-phone-type,
.icon-email-type{background-position:0px 0px}.icon-phone-type.active{background-position:-114px 0px}.icon-email-type{background-position:0px -114px}.icon-email-type.active{background-position:-114px -114px}.icon-phone-type.disabled{background-position:-228px 0px}.icon-email-type.disabled{background-position:-228px -114px}.icon-step-1,
.icon-step-2,
.icon-step-3{background-position:-342px 0px}.icon-step-2{background-position:-342px -78px}.icon-step-3{background-position:0px -228px}.icon-phone-type,
.icon-email-type,.icon-phone-type.active,.icon-email-type,.icon-email-type.active,.icon-phone-type.disabled,.icon-email-type.disabled,.icon-step-1,
.icon-step-2,
.icon-step-3,.icon-step-2,.icon-step-3{background-image: url(/assets/img/newwebsite/user/reset_password/include/style-en_z.png)}