/*
==========================================
 */
[ic-slider]{
    position: relative;
    overflow: hidden;
}

[ic-role-con]{
    display: none;
}

[ic-dropdown]{
    position: relative;
}
[ic-role-dropdown-menu]{
    position: absolute;
    left:0;
    z-index: 10;
    display: none;
}
[ic-role-dropdown-con]{
    overflow: hidden;
}

[ic-scene]{
    display: none;
}
[ic-scene-active]{
    display: inherit;
}

/* 对话框 */
[ic-dialog]{
    position: fixed;
    top:20%;
    left:50%;
    display: none;
}

.transparent{
    background:rgba(0,0,0,0.6);
    background: transparent\9;
    zoom:1\8; /* required for the filters */
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); /* IE5.5-7 */
}

.transparent2{
    *background:#f00; *filter:alpha(opacity=50);
}