.icon-sign-peple{
     width:33px;
     height: 32px;
     background: url(icon-sign-peple.png?__sprite) no-repeat 0 0;
 }
.icon-sign-phone{
    width:33px;
    height: 32px;
    background: url(icon-sign-phone.png?__sprite) no-repeat 0 0;
}
.icon-sign-email{
    width:33px;
    height: 32px;
    background: url(icon-sign-email.png?__sprite) no-repeat 0 0;
}


#reg-prompt-box{
    display: none;
}


#mainbody{
    padding-top: 60px;
    min-height: 500px;
    border-top:solid 4px #ff9915;
    border-bottom:solid 4px #ff9915;
    background: url(sign_03.png?__sprite) no-repeat 50% 0 #1b1c3a;
}

.panel, ._panel, ._panel-1{
    width:563px;
    padding:30px 20px;
    margin: 20px auto;
    background: #fff;
}
._panel-1{
    width: 603px;
    padding: 0;
}
.btn-group .btn{
    text-align: center;
    padding:0;
    min-width:200px;
    width:33%;
    line-height: 70px;
    border-right:solid 1px #cfd8e5;
    background: #e7f1ff;
    font-size: 16px;
    font-weight: bold;
}

.btn-group .btn.active{
    background: #fff;
}

table td{
    vertical-align: top;
    padding:5px 7px;
}

label{
    color:#434a54;
    white-space: nowrap;
    font-weight: bold;
    line-height: 36px;
}

label b{
    color:red;
    margin-right:0.5em;
}

.tip{
    font-family: inherit;
    color:#aab2bd;
}
[ic-scene="select"]{
    margin:0 -20px;
    height: 500px;
    background: #1b1c3a;
}
[ic-scene="select"] .a, [ic-scene="select"] .b{
    padding-top:150px;
    width: 398px;;
    height: 248px;
    background: url(bg_03.png?__sprite) no-repeat 0 0;
    color: #fff;
    cursor: pointer ;
}
[ic-scene="select"] .b{
    margin-left:90px;
    background: url(bg_05.png?__sprite) no-repeat 0 0;
}

[ic-scene="select"] h3{
    font-size:32px;
}
[ic-scene="select"] h6{
     font-size:16px;
 }

[role="student-reg-item"]{
    display: none;
}