.table-4 th{
    height: 24px;
}

.table-4 td{
    height: 28px;
}
[role="stocksIndexTable"] th, [role="stocksIndexTable"] td{
    padding-left:1em;
    padding-right:1em;
}

#myStocks .icon-lkey, #myStocks .icon-rkey{
    position: absolute;
    margin-top:2px;
    margin-left:5px;
}
#myStocks .icon-rkey{
    margin-left: -20px;
}
.dialog-s1 dt{
    color: #cc8123;
    font-weight: bold;
    margin-top:5px;
}
.dialog-s1 label{
    min-width: 12em;
}
.dialog-s1 label [type="checkbox"]{
    vertical-align: -2px;
}

/*股票表格列表*/
#stocksTable{
    position: relative;
    background: url(th-bg.png) repeat-x 0 0;
}
#stocksTable table{
}
#base {
    width:260px;
    position: absolute;
    top:0;
    left:0;
    z-index: 5;
}

#indicators{
    width:680px;
    overflow:hidden;
    margin-left:260px;
}
#indicators table{
    table-layout:fixed;
    width:auto;
    min-width: 680px;
}
#indicators table th, #indicators table td{
    padding-left:20px;
    padding-right:20px;
}
#handle{
    width:60px;
    position: absolute;
    top:0;
    right:0;
    z-index: 5;
}
/*资讯部分*/
.info .title-2 {
    margin: 20px 0 15px 0;
}

#analysts tr,
#sector li {
    border-bottom: solid 1px #e6e9ed;
}

#analysts td {
    height: 66px;
    padding: 10px 0;
    vertical-align: middle;
}

#analysts td .line {
    padding: 0 15px;
    line-height: 66px;
}

#sector li {
    height: 66px;
    padding: 16px 0 4px 0;
}