<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link>
    <style>
        div img{
            display: block;
            padding-left:59px;
            margin: 0 auto;
        }
    </style>
</head>

<body>

<div>
    <div style="background: url(include/p_02.png) no-repeat 50% 0; height:604px;"> </div>
    <div style="background: #eaf0f6;"><img src="include/p_04.png"></div>
    <div style="background: #59a8e3;"><img src="include/p_06.png"></div>
    <div style="background: #eaf0f6;"><img src="include/p_07.png"></div>
    <div style="background: #c4d0dc; padding: 40px;"><img src="include/p_10.png"></div>
</div>
</body>
</html>