<div id="reg-prompt-box" class="h-center fc-1">
    <div class="fz-16">还没有数库账号？想获得更多数据？</div>
    <div class="fz-20 m-10-0">立即注册，拥有前所未有</div>
    <div><a href="#" class="btn btn-1-1">免费注册</a></div>
</div>

<footer id="footer">

    <div id="site" class="inline v-top br-1">
        <ul>
            <li class="inline"><a href="#">关于数库</a> </li>
            <li class="inline"><a href="#">加入数库</a> </li>
            <li class="inline"><a href="#">联系我们</a> </li>
            <li class="inline"><a href="#">产品介绍</a> </li>
            <li class="inline"><a href="#">版权声明</a> </li>
        </ul>
    </div>

    <div id="interface" class="inline v-top br-1">
        <h4>关注我们</h4>
        <ul>
            <li class="inline"><a href="#" class="inline"><i class="icon icon-wx"></i></a> </li>
            <li class="inline"><a href="#" class="inline"><i class="icon icon-wb"></i></a> </li>
            <li class="inline"><a href="#" class="inline"><i class="icon icon-g"></i></a> </li>
            <li class="inline"><a href="#" class="inline"><i class="icon icon-tt"></i></a> </li>
            <li class="inline"><a href="#" class="inline"><i class="icon icon-f"></i></a> </li>
            <li class="inline"><a href="#" class="inline"><i class="icon icon-i"></i></a> </li>
        </ul>
    </div>

    <div id="partner" class="inline v-top br-1">
        <h4>合作伙伴</h4>
        <ul>
            <li class="inline"><a href="#" class="inline"><i class="icon icon-xl"></i></a> </li>
            <li class="inline"><a href="#" class="inline"><i class="icon icon-th"></i></a> </li>
            <li class="inline"><a href="#" class="inline"><i class="icon icon-m"></i></a> </li>
        </ul>
    </div>

    <div id="et" class="inline v-top">
        <h4>企业时间</h4>
        <a href="#" class="inline"><i class="icon icon-et"></i></a>
    </div>

    <p class="h-center t-4">© 2014 ChinaScope Financial All Rights Reserved</p>
</footer>