/*英文版css补丁*/

.icon-day, .icon-week, .icon-month {
    width:66px;
    height: 66px;
}
.icon-day{background-repeat: no-repeat;}
.icon-day.active, .icon-day:hover {background-repeat: no-repeat;}

.icon-week{background-repeat: no-repeat;}
.icon-week.active, .icon-week:hover {background-repeat: no-repeat;}

.icon-month{background-repeat: no-repeat;}
.icon-month.active, .icon-month:hover {background-repeat: no-repeat;}



.icon-day{background-position:0px 0px}.icon-day.active, .icon-day:hover{background-position:-76px 0px}.icon-week{background-position:0px -76px}.icon-week.active, .icon-week:hover{background-position:-76px -76px}.icon-month{background-position:-152px 0px}.icon-month.active, .icon-month:hover{background-position:-152px -76px}.icon-day,.icon-day.active, .icon-day:hover,.icon-week,.icon-week.active, .icon-week:hover,.icon-month,.icon-month.active, .icon-month:hover{background-image: url(/assets/img/css/common/common-en_z.png)}