header{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background:yellow;
}

html, body {
    color: blue;
}

.icon1 {padding:20px 0 0 5em;background-repeat: no-repeat;}

.icon2 {padding:20px 0 0 5em;background-repeat: no-repeat;}

.icon3 {padding:20px 0 0 5em;background-repeat: no-repeat;}

.icon1{background-position:0px 0px}.icon2{background-position:-42px 0px}.icon3{background-position:0px -42px}.icon1,.icon2,.icon3{background-image: url(/csf/img/sprite/base_z.png)}