<!--[if lt IE 7]>
<p class="browsehappy">浏览器版本太低，为了更好的浏览体验，请更换或升级浏览器!</p>
<![endif]-->

<header id="header">

    <div id="logo-box">
        <div class="inline fl"><i class="icon icon-logo mr-15"></i><a class="btn btn-2" href="#">怀念旧版</a></div>
        <div style="float:right;padding:14px 0 0 0;">
            <div class="inline search">
                <i class="icon icon-search"></i>
                <input type="text" placeholder="公司/新闻搜索" rel="search">
                <span class="hint t-6">回车搜索 <i class="icon icon-enter"></i></span>
            </div>
            <div class="inline">
                <a class="btn btn-0 mr-15 br-1 fc-2" href="#">登录</a>
                <a class="btn btn-0-1 ml-15 mr-30" href="#">注册</a>
            </div>
            <div class="inline" style="display: none;">
                <a class="mr-15 fc-2" href="#">xxxx</a>
                <a class="ml-15 mr-30 fc-2" href="#">退出</a>
            </div>

            <a class="btn btn-0-1" href="#">EN</a>
        </div>
    </div>

    <nav id="nav-box" class="fc-1">
        <div id="nav-wrap">
            <ul class="inline-list v-top fl">
                <li><a class="active" href="#">首页</a></li>
                <li><a href="#">股票</a></li>
                <li><a href="#">涨跌榜</a></li>
                <li><a href="#">沪港通</a></li>
                <li><a href="#">场外市场</a></li>
                <li><a href="#">咨询</a></li>
                <li><a href="#">个人中心</a></li>
            </ul>
            <div class="inline v-top fr">
                <a href="#">插件下载</a>
                <a href="#"><i class="icon icon-phone"></i> 客户端</a>
            </div>
        </div>
    </nav>




</header>