.icon{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.icon-logo{
    width:151px;
    height: 60px;
    background: url(../../../img/icons/icon-logo.png?__sprite) no-repeat 0 0;
}

.icon-search{
    width: 20px;
    height: 21px;
    background: url(../../../img/icons/icon-search.png?__sprite) no-repeat 0 0;
}
.icon-enter{
    width: 20px;
    height: 20px;
    background: url(../../../img/icons/icon-enter.png?__sprite) no-repeat 0 0;
}

.icon-msg{
    width:20px;
    height: 14px;
    background: url(../../../img/icons/icon-msg.png?__sprite) no-repeat 0 0;
}

.icon-triangle-01{
    width:27px;
    height: 18px;
    background: url(../../../img/icons/icon-triangle-01.png?__sprite) no-repeat 0 0;
}
.icon-triangle-02{
    width:27px;
    height: 18px;
    background: url(../../../img/icons/icon-triangle-02.png?__sprite) no-repeat 0 0;
}

.icon-phone{
    width: 14px;
    height: 22px;
    background: url(../../../img/icons/icon-phone.png?__sprite) no-repeat 0 0;
}

.icon-circle-yellow{
    width: 17px;
    height: 17px;
    background: url(../../../img/icons/icon-circle-yellow.png?__sprite) no-repeat 0 0;
}
.icon-circle-write{
    width: 17px;
    height: 17px;
    background: url(../../../img/icons/icon-circle-write.png?__sprite) no-repeat 0 0;
}

.icon-arrows-left{
    width: 28px;
    height: 49px;
    background: url(../../../img/icons/icon-arrows-left.png?__sprite) no-repeat 0 0;
}

.icon-arrows-right{
    width: 28px;
    height: 49px;
    background: url(../../../img/icons/icon-arrows-right.png?__sprite) no-repeat 0 0;
}
.icon-arrows-4-up{
    width: 18px;
    height: 17px;
    background: url(../../../img/icons/icon-arrows-4-up.png?__sprite) no-repeat 0 0;
}

.icon-arrows-4-down{
    width: 18px;
    height: 17px;
    background: url(../../../img/icons/icon-arrows-4-down.png?__sprite) no-repeat 0 0;
}
.icon-up{
    width: 16px;
    height: 16px;
    background: url(../../../img/icons/icon-up.png?__sprite) no-repeat 0 0;
}
.icon-down{
    width: 16px;
    height: 16px;
    background: url(../../../img/icons/icon-down.png?__sprite) no-repeat 0 0;
}
.icon-fire{
    width: 27px;
    height: 26px;
    background: url(../../../img/icons/icon-fire.png?__sprite) no-repeat 0 0;
}
.icon-ok{
    width: 25px;
    height: 20px;
    background: url(../../../img/icons/icon-ok.png?__sprite) no-repeat 0 0;
}
.icon-add{
    width:17px;
    height: 19px;
    background: url(../../../img/icons/icon-add.png?__sprite) no-repeat 0 0;
}
.icon-add-2{
    width:23px;
    height: 22px;
    background: url(../../../img/icons/icon-add-2.png?__sprite) no-repeat 0 0;
}
.icon-up-1{
    width:14px;
    height: 14px;
    background: url(../../../img/icons/icon-up-1.png?__sprite) no-repeat 0 0;
}
.icon-down-1{
    width:14px;
    height: 14px;
    background: url(../../../img/icons/icon-down-1.png?__sprite) no-repeat 0 0;
}
.icon-up-2{
    width:42px;
    height: 52px;
    background: url(../../../img/icons/icon-up-2.png?__sprite) no-repeat 0 0;
}
.icon-down-2{
    width:42px;
    height: 52px;
    background: url(../../../img/icons/icon-down-2.png?__sprite) no-repeat 0 0;
}
.icon-md-up, .icon-md-down{
    width: 23px;
    height: 22px;
}
.icon-md-up{
    background: url(../../../img/icons/icon-md-up.png?__sprite) no-repeat 0 0;
}
.icon-md-down{
    background: url(../../../img/icons/icon-md-down.png?__sprite) no-repeat 0 0;
}
.icon-circle-1-up{
    width: 12px;
    height: 12px;
    background: url(../../../img/icons/icon-circle-1-up.png?__sprite) no-repeat 0 0;
}
.icon-circle-1-down{
    width: 12px;
    height: 12px;
    background: url(../../../img/icons/icon-circle-1-down.png?__sprite) no-repeat 0 0;
}
.icon-circle-1-md{
    width: 12px;
    height: 12px;
    background: url(../../../img/icons/icon-circle-1-md.png?__sprite) no-repeat 0 0;
}
.icon-chart{
    width: 18px;
    height: 18px;
    background: url(../../../img/icons/icon-chart.png?__sprite) no-repeat 0 0;
}
.icon-clear{
    width:24px;
    height: 24px;
    background: url(../../../img/icons/icon-clear.png?__sprite) no-repeat 0 0;
}
/* footer part */
.icon-wx{
    width:47px;
    height: 49px;
    background: url(../../../img/icons/icon-wx.png?__sprite) no-repeat 0 0;
}
.icon-wb{
    width:47px;
    height: 49px;
    background: url(../../../img/icons/icon-wb.png?__sprite) no-repeat 0 0;
}
.icon-tt{
    width:47px;
    height: 49px;
    background: url(../../../img/icons/icon-tt.png?__sprite) no-repeat 0 0;
}
.icon-f{
    width:47px;
    height: 49px;
    background: url(../../../img/icons/icon-f.png?__sprite) no-repeat 0 0;
}
.icon-g{
    width:47px;
    height: 49px;
    background: url(../../../img/icons/icon-g.png?__sprite) no-repeat 0 0;
}
.icon-i{
    width:47px;
    height: 49px;
    background: url(../../../img/icons/icon-i.png?__sprite) no-repeat 0 0;
}

.icon-et{
    width: 72px;
    height: 72px;
    background: url(../../../img/icons/icon-et.png?__sprite) no-repeat 0 0;
}

.icon-xl{
    width: 71px;
    height: 67px;
    background: url(../../../img/icons/icon-xl.png?__sprite) no-repeat 0 0;
}
.icon-th{
    width: 71px;
    height: 67px;
    background: url(../../../img/icons/icon-th.png?__sprite) no-repeat 0 0;
}
.icon-m{
    width: 103px;
    height: 67px;
    background: url(../../../img/icons/icon-m.png?__sprite) no-repeat 0 0;
}