#mainbody{
    min-height: 770px;
    background: url(bg.png) no-repeat 50% -1px #fff;
    padding-bottom: 40px;
}

.icon-down-iphone{
    width: 196px;
    height: 70px;
    background: url(icon-download-iphone.png?__sprite) no-repeat 0 0;
}
.icon-down-android{
    width: 196px;
    height: 70px;
    background: url(icon-download-android.png?__sprite) no-repeat 0 0;
}

a.android, a.iphone{
    position: absolute;
    top:460px;
}