.nav-2{
    border-bottom: solid 1px #e6e9ed;
}
.nav-2 > li a{
    padding:0 30px;
}
.banner{
    height: 180px;
    background: url(otc_03.png) repeat-x 0 0;
}

.banner h3{
    margin:0 0 0 30px;
}

.icon-chart-bar{
    width:20px;
    height: 18px;
    background: url(icon-chart-bar.png?__sprite) no-repeat 0 0;
}

.btn.active .icon-chart-bar, .btn:hover .icon-chart-bar{
    background: url(icon-chart-bar-active.png?__sprite) no-repeat 0 0;
}

.icon-chart-pie{
    width:20px;
    height: 18px;
    background: url(icon-chart-pie.png?__sprite) no-repeat 0 0;
}

.btn.active .icon-chart-pie, .btn:hover .icon-chart-pie{
    background: url(icon-chart-pie-active.png?__sprite) no-repeat 0 0;
}

.bg-1{
    background: url(bor-bg.png) repeat-y 480px 0 #e7edf7;
}