/*
站点通用样式
==============================================
 */

html {
    color: #000;
    background: #FFF
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}

legend {
    color: #000
}

#yui3-css-stamp.cssreset {
    display: none
}
/*
站点基本样式定义
======================================================
 */
html, body {
    color:#656d78;
    background: #fff;
    line-height: 1.6;
    font-size:14px;
    font-family: microsoft yahei, Simsun;
}

a{
    color:#4a7cbc;
    text-decoration: none;
}
p{
    font-family: sans-serif;
    font-size: 12px;
}
article{
    width:720px;
    margin:2em auto;
}
article p{
    margin:1.8em 0;
    text-indent: 2em;
    font-size: 16px;
}
table{
    width: 100%;
}
/*
交互样式定义
========================================================
 */

/*
通用基本类定义
=========================================================
 */
.f-left, .fl{
    float: left;
}
.f-right, .fr{
    float: right;
}
.v-top{
    vertical-align: top;
}
.v-middle, .vm{
    vertical-align: middle;
}
.h-center, .hc{
    text-align: center;
}
.h-right, .hr{
    text-align: right;
}
.inline{
    vertical-align: top;
}
.inline, .inline-list, .inline-list li, .inline-list-1, .inline-list-1 li{
    display: inline-block;
}
.inline-list{
    vertical-align: top;
}
.inline-list li{
    float:left;
}
/*border 样式定义 */
.br-1{
    border-right:solid 1px #e6e9ed;
}

.bg-1{
    background: #e7edf7;
}

/* 强制一行显示 */
.line{
    white-space:nowrap;
}
/*
布局相关样式定义
=====================================================
 */

#wraper{

}

#mainbody{
    padding: 0 0 30px 0;
}
#logo-box,#nav-wrap,#msg-wrap, #footer{
    width:1000px;
    margin:0 auto;
}

#logo-box{
    height: 60px;
}
#nav-box{
    height: 50px;
}
#msg-box{
    height: 40px;
}

/*定义宽/高/外间距/内间距*/
.wrap-1000{
    max-width:1000px;
    margin:0 auto;
}
.hp-100{
    height: 100%;
}
.wp-100{
    width:100%;
}
.w-32{
    width:32px;
}
.w-36{
    width: 36px;
}
.w-56{
    width:56px;
}
.w-42{
    width: 42px;
}
.w_64{
    width:64px;
}
.w-92{
    width:92px;
}
.w-72{
    width:72px;
}
.w-480{
    width: 480px;
}
.mh-400{
    min-height: 400px;
}
.p-0{
    padding: 0;
}
.p-20-0{
    padding: 20px 0;
}
.m-10-0{
    margin:10px 0;
}
.mt-10{
    margin-top:10px;
}
.mb-10{
    margin-bottom:10px;
}
.mb-15{
    margin-bottom:15px;
}
.ml-15{
    margin-left: 15px;
}
.mr-15{
    margin-right: 15px;
}
.mr-24{
    margin-right:24px;
}
.mr-30{
    margin-right:30px;
}
.mt-30{
    margin-top:30px;
}
.pl-15{
    padding-left:15px;
}
.pr-15{
    padding-right:15px;
}
.ml-240{
    margin-left: 240px;
}

.lgp-2{
    line-height: 2;
}
.lg-36{
    line-height: 36px;
}
.lg-32{
    line-height: 32px;
}
.lg-24{
    line-height: 24px;
}

.lg-26{
    line-height: 26px;
}
.lg-48{
    line-height: 48px;
}
.lg-56{
    line-height: 56px;
}

/*
字体样式定义
=========================================================
 */

.t-1{
    font-family: microsoft yahei, Simsun;
    font-size:24px;
}
.t-2{
    font-size:20px;
    color:#fff;
}
.t-3{
    color: #3f6aa0;
    font-weight: bold;
    font-size: 16px;
}
.t-4{
    font-family: microsoft yahei, Simsun;
}
.t-5{
    font-size: 16px;
    color:#1a1c39;
    font-weight: bold;
}
.t-6{
    color:#afb7c1;
    font-size:12px;
}
.t-7, .t-71, .t-7-1{
    color:#ff9915;
    font-size:12px;
}
.t-71, .t-7-1{
  font-size:14px;
}

.t-8{
    font-size: 12px;
    color: #fff;
    font-family: sans-serif;
}
.t-9{
    font-size: 16px;
    color:#da4453;
    font-weight: bold;
}
.t-10, .t-101{
    font-size:16px;
    color:#434a54;
    font-weight: bold;
}
.t-101{
  color: #494d80;
}
.t-12{
    font-size:28px;
    color: #434a54;
    font-weight: bold;
}
.t-13{
    font-size:14px;
    color:#4a7cbc;
    font-weight: bold;
}
.t-14{
    font-size:20px;
    color:#494f57;
    font-weight: bold;
}
.t-16, .t-16-1{
    color:#434a54;
    font-size:14px;
    font-weight: bold;
}
.t-16-1{
    color:#4a89dc;
}


/*
t     为前缀；
-18  字体大小
-0   字体样式   0 ： normal； 1： bold;
-r1 字体颜色   r: red; b: blue; y: yellow; g: green; w: white; k: black; a: gray;
*/
.t-12-0-a0,
.t-12-0-a1,
.t-12-1-a2 {
    font-size: 12px;
}
.t-12-0-a0{
    color: #aab2bd;
}
.t-12-0-a1{
    color: #898a8b;
}
.t-12-1-a2, .t-14-1-a2{
    color:#656d78;
}

.t-14-1-a2, .t-14-1-b0, .t-14-1-a3,
.t-14-1-up, .t-14-1-md, .t-14-1-down,
.t-14-0-k1, .t-14-1-k1
{
    font-size:14px;
}
.t-14-1-md{
    color:#aab2bd;
}
.t-14-1-down{
    color: #37bc9b;
}
.t-14-0-k1, .t-14-1-k1{
    color:#434a54;
}
.t-14-1-b0{
    color:#5d9cec;
}
.t-14-1-a3{
    color:#434a54;
}
.t-14-0-b1, .t-14-1-b1{
    font-size:14px;
    color:#4a89dc;
}
.t-14-0-r1, .t-14-1-r1, .t-14-0-up, .t-14-1-up{
    font-size:14px;
    color:#da4453;
}
.t-12-1-a2,.t-14-1-a2,.t-14-1-a3,
.t-14-0-g1, .t-14-1-g1,.t-14-1-b0,
.t-14-1-r1, .t-14-1-b1, .t-14-1-g1, .t-14-1-a1, .t-14-1-up, .t-14-1-md, .t-14-1-down,.t-14-1-k1, .t-18-1-a1{
    font-weight: bold;
}


.t-18-0-a1, .t-18-1-a1{
    color:#656d78;
    font-size:18px;
}
/*定义字体颜色*/
.fc-1{
    color:#fff;
}
.fc-2{
    color:#ff9915;
}
.fc-3{
    color:#1a1c39;
}
.fc-5{
    color: #3bafda;
}
.fc-6{
    color: #ed5565;
}
.fc-7{
    color:#aab2bd;
}
.fc-8, .fc-b1{
    color:#4a7cbc;
}
.fc-11{
    color:#d071ca;
}
.fc-down{
    color:#37bc9b;
}
.fc-up{
    color: #ed5565;
}
.fc-inherit{
    color:inherit;
}
/*定义字体大小*/
.fz-12{
    font-size: 12px;
}
.fz-16{
    font-size:16px;
}
.fz-18{
    font-size: 18px;
}
/*字体超过16默认设为粗体*/
.fz-20,.fz-24,.fz-28,.fz-32{
    font-weight: bold;
}
.fz-20{
    font-size:20px;
}

.fz-24{
    font-size:24px;
}
.fz-28{
    font-size: 28px;
}
.f-32{
    font-size: 32px;
}

.fz-small{
    font-size:0.6em;
}
.fz-normal{
    font-size:1em;
}
.fz-large{
    font-size:1.4em;
}
/**/


.fc-a-inherit a{
    color: inherit;
}
.icon{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.icon-logo{width:151px;
    height: 60px;background-repeat: no-repeat;}

.icon-search{width: 20px;
    height: 21px;background-repeat: no-repeat;}
.icon-enter{width: 20px;
    height: 20px;background-repeat: no-repeat;}

.icon-msg{width:20px;
    height: 14px;background-repeat: no-repeat;}

.icon-triangle-01{width:27px;
    height: 18px;background-repeat: no-repeat;}
.icon-triangle-02{width:27px;
    height: 18px;background-repeat: no-repeat;}

.icon-phone{width: 14px;
    height: 22px;background-repeat: no-repeat;}

.icon-circle-yellow{width: 17px;
    height: 17px;background-repeat: no-repeat;}
.icon-circle-write{width: 17px;
    height: 17px;background-repeat: no-repeat;}

.icon-arrows-left{width: 28px;
    height: 49px;background-repeat: no-repeat;}

.icon-arrows-right{width: 28px;
    height: 49px;background-repeat: no-repeat;}
.icon-arrows-4-up{width: 18px;
    height: 17px;background-repeat: no-repeat;}

.icon-arrows-4-down{width: 18px;
    height: 17px;background-repeat: no-repeat;}
.icon-up{width: 16px;
    height: 16px;background-repeat: no-repeat;}
.icon-down{width: 16px;
    height: 16px;background-repeat: no-repeat;}
.icon-fire{width: 27px;
    height: 26px;background-repeat: no-repeat;}
.icon-ok{width: 25px;
    height: 20px;background-repeat: no-repeat;}
.icon-add{width:17px;
    height: 19px;background-repeat: no-repeat;}
.icon-add-2{width:23px;
    height: 22px;background-repeat: no-repeat;}
.icon-up-1{width:14px;
    height: 14px;background-repeat: no-repeat;}
.icon-down-1{width:14px;
    height: 14px;background-repeat: no-repeat;}
.icon-up-2{width:42px;
    height: 52px;background-repeat: no-repeat;}
.icon-down-2{width:42px;
    height: 52px;background-repeat: no-repeat;}
.icon-circle-1-up{width: 12px;
    height: 12px;background-repeat: no-repeat;}
.icon-circle-1-down{width: 12px;
    height: 12px;background-repeat: no-repeat;}
.icon-circle-1-md{width: 12px;
    height: 12px;background-repeat: no-repeat;}
.icon-chart{width: 18px;
    height: 18px;background-repeat: no-repeat;}
/* footer part */
.icon-wx{width:47px;
    height: 49px;background-repeat: no-repeat;}
.icon-wb{width:47px;
    height: 49px;background-repeat: no-repeat;}
.icon-tt{width:47px;
    height: 49px;background-repeat: no-repeat;}
.icon-f{width:47px;
    height: 49px;background-repeat: no-repeat;}
.icon-g{width:47px;
    height: 49px;background-repeat: no-repeat;}
.icon-i{width:47px;
    height: 49px;background-repeat: no-repeat;}

.icon-et{width: 72px;
    height: 72px;background-repeat: no-repeat;}

.icon-xl{width: 71px;
    height: 67px;background-repeat: no-repeat;}
.icon-th{width: 71px;
    height: 67px;background-repeat: no-repeat;}
.icon-m{width: 103px;
    height: 67px;background-repeat: no-repeat;}
/*
组件样式定义
=========================================================
 */

.nav-2{
    position: relative;
    top:2px;
    border-left:solid 1px #e6e9ed;
}
.nav-2 > li{
    line-height: 48px;
    border-right:solid 1px #e6e9ed;
    border-bottom: solid 2px transparent;
}
.nav-2 > li.active, .nav-2 > li:hover{
    border-bottom-color: #dc8412;
}
.nav-2 > li a{
    color: inherit;
    padding:0 20px;
    display: inline-block;
    border-bottom: solid 4px transparent;
}
.nav-2 > li a:hover, .nav-2 > li.active a{
    font-weight: bold;
    border-bottom-color: #ff9915;
}

.title-1{
    position: relative;
    border-bottom:solid 3px #1a1c39;
}

.title-1 .text{
    position: relative;
    top:3px;
    border-bottom: solid 3px #ff9915;
}



.title-2{
    position: relative;
    padding: 6px 0;
    border-bottom: solid 3px #1a1c39;
}

.title-2 .more{
    position: absolute;
    top:6px;
    right: 0;
}


.title-3{
    line-height: 1;
    margin:30px 0 10px 0;
    padding-left: 8px;
    border-left: solid 5px #ff9915;
}

.list-1 li{
    position:relative;
    padding:0 10px;
}
.list-1 li:hover{
    background: #e7edf7;
}
.list-1 li a{
    margin-left:1em;
}
.list-1 li time{
    position:absolute;
    right:5px;
    color: #afb7c1;
    font-size:12px;
}



.list-2{

}

.list-2 li{
    margin: 15px 0 0 0 ;
    padding:0 0 0 15px;
}
.list-2 .digest{
    margin:10px 0 0 0;
}


.menu-3{
    margin-top:2px;
    background: #fff;
    border:solid 1px #e9eaeb;
    border-bottom: solid 2px #dcdddd;
    box-shadow: gray 2px 2px 6px;
}
.menu-3 li{
    display: block;
    width:100%;
    padding:0;
    border-bottom:solid 1px #e9eaeb;
    text-align: center;
    line-height: 3;
}
.menu-3 li a{
    width:100%;
    padding: 0;
    display: inline-block;
}
.menu-3 li a:hover{
    background: #ff9915;
    color:#fff;
}



.table-1 {
    width: 100%;
}
.table-1 th, .table-1 td{ text-align: center}


.table-2{

}
.table-2 th{
    padding: 15px 0 5px 10px;
    border-bottom: solid 1px #e6e9ed;
}
.table-2 td{
    padding: 15px 0 0 10px;
}

.table-3{

}
.table-3 th, .table-3 td{
    padding: 10px 6px 10px 20px;
    border:solid 1px #e6e9ed;
}
/*
按钮样式定义
============================================================
 */
.btn-group-1{
    display: inline-block;
    border-radius: 0.2em;
}
.btn-group-1 .btn{
    border-radius: 0;
}

.btn{
    vertical-align: middle;
    display: inline-block;
    padding:0.2em 0.5em;
    cursor: pointer;
    border-radius: 0.2em;
}
.btn-0,.btn-0-2{
    color: inherit;
    background: transparent;
    border-radius: 0;
    border:none;
}
.btn-0-2{
    color:#ff9915;
}
.btn-0:hover, .btn-0-2:hover, .btn-0-2.active{
    color:#fff;
    background: #ff9915;
}
.btn-0-1:hover{
    color:#fff;
    background: #1a1c39;
}

.btn-1, .btn-1-1, .btn-1-2{
    color:#fff;
    background:#ff9915;
    border-bottom: solid 2px #ce954b;
}
.btn-small{
    font-family: sans-serif;
    font-size:12px;
}

.btn-1-1{
    padding:0.5em 2em;
}
.btn-1:hover, .btn-1-1:hover, .btn-1:active, .btn-1-1:active{
    background:#e48913;
}
.btn-2{
    font-size: 12px;
    color: #fff;
    font-family: sans-serif;
    background: #656d78;
    border-bottom: solid 2px #1a1c39;
}
.btn-2:hover, .btn-2:active{
    background:#4b5159;
}


.btn-3{
    background: #e6e9ed;
    color:#cacfd7;
}
/*
其它
===============================================================
*/
.bor-1{
    border-top:solid 1px #e6e9ed;
    border-bottom: solid 2px #e6e9ed;
}
.bl-1-1, .bl-1-2, .bl-1-3,.bl-1-4,.bl-1-5, .bl-1-6{
    border-left: solid 4px transparent;
}
.bl-1-1{
     border-color:#da4453;
 }
.bl-1-2{
    border-color:#fc6e51;
}
.bl-1-3{
    border-color:#37bc9b;
}
.bl-1-4{
    border-color:#967adc;
}
.bl-1-5{
    border-color:#f6bb42;
}
.bl-1-6{
    border-color:#4fc1e9;
}

.level-up-1,.level-up-2,.level-up-3,.level-up-4,.level-up-5,.level-up-6,.level-up-7,.level-up-8{
    border-top:solid 1px #fb7171;
    border-bottom: solid 1px #de504f;
    color: #fff;
}
.level-up-5,.level-up-6,.level-up-7,.level-up-8{
    border-top: solid 1px #FC8686;
    border-bottom: solid 1px #F77B7B;
}
.level-up-1{
    background: #ea1e1d;
}
.level-up-2{
    background: #ee3a3b;
}
.level-up-3{
    background: #f34b4a;
}
.level-up-4{
    background: #f35b5a;
}
.level-up-5{
    background: #f27070;
}
.level-up-6{
    background: #f38383;
}
.level-up-7{
    background: #f39595;
}
.level-up-8{
    background: #f3acac;
}

.level-down-1,.level-down-2,.level-down-3,.level-down-4,.level-down-5,.level-down-6,.level-down-7,.level-down-8{
    border-top:solid 1px #3ec8a5;
    border-bottom: solid 1px #00a57c;
    color: #fff;
}
.level-down-1{
    background: #00b084;
}
.level-down-2{
    background: #00bf8f;
}
.level-down-3{
    background: #00cb98;
}
.level-down-4{
    background: #17d6a6;
}
.level-down-5{
    background: #35deb4;
}

.level-32{
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}
.level-52{
    width: 52px;
    height: 52px;
    text-align: center;
    line-height: 52px;
}


.bg-3{
    background: #f5f7fa;
}

.bg-4{
    background: #f5f7f9;
}



/*
==========================================
 */
[ic-slider]{
    position: relative;
    overflow: hidden;
}

[ic-role-con]{
}

[ic-dropdown]{
    position: relative;
}
[ic-role-dropdown-menu]{
    position: absolute;
    z-index: 10;
    display: none;
}
[ic-role-dropdown-con]{
    overflow: hidden;
}

#header{
}

#logo-box{
}
#logo-box .search{
    position: relative;
    margin:0 30px 0 0px;
}
#logo-box  .search .icon-search{
    position: absolute;
    top: 5px;
    left: 5px;
}
#logo-box .search .hint{
    position: absolute;
    top:5px;
    right: 5px;
}
#logo-box .search input{
    width: 16em;
    padding:0 30px 0 30px;
    line-height: 2;
    border: solid 1px #ccd1d9;
    border-radius: 0.3em;
}
#nav-box{
    height: 50px;
    line-height: 48px;
    background: #1a1c39;
}
#nav-box a{
    color:inherit;
    padding:0 16px;
}
#nav-box li a{
    display: inline-block;
    color:#fff;
    border-bottom:solid 2px #1a1c39;
}
#nav-box li a:hover, #nav-box li a.active{
    background: #ff9915;
    border-color:#dc8412;
}

#msg-box{
    line-height: 40px;
    background: #e7edf7;
}
#reg-prompt-box{height: 150px;
    padding:30px 0 0 0;
    
    border-bottom:solid 4px #ff9915;background-repeat: no-repeat;}

#footer{
    padding:20px 0 30px 0;
}
#footer h4{
    margin:0 0 10px 0;
}
#site, #interface, #partner, #et{
    width:180px;
    height: 160px;
    padding: 10px 20px;
}

#site li{
    margin:15px 20px 0 0;
}

#interface li{
 margin:0px 10px 0 0;
}

#partner{
    width:280px;
}
#partner li{
    margin:0 7px 0 0;
}
#et{
}



#reg-prompt-box{background-position:0px 0px}.icon-et{background-position:0px -190px}.icon-m{background-position:-82px -190px}.icon-th{background-position:-195px -190px}.icon-xl{background-position:-276px -190px}.icon-logo{background-position:-357px -190px}.icon-down-2{background-position:-518px -190px}.icon-up-2{background-position:-570px -190px}.icon-arrows-left{background-position:-622px -190px}.icon-arrows-right{background-position:-660px -190px}.icon-g{background-position:-698px -190px}.icon-i{background-position:-755px -190px}.icon-tt{background-position:-812px -190px}.icon-wb{background-position:-869px -190px}.icon-wx{background-position:-926px -190px}.icon-f{background-position:-983px -190px}.icon-fire{background-position:-1040px -190px}.icon-phone{background-position:-1077px -190px}.icon-add-2{background-position:-1101px -190px}.icon-search{background-position:-1134px -190px}.icon-ok{background-position:-1164px -190px}.icon-enter{background-position:-1199px -190px}.icon-add{background-position:-1229px -190px}.icon-triangle-01{background-position:-1256px -190px}.icon-triangle-02{background-position:-1293px -190px}.icon-chart{background-position:-1330px -190px}.icon-circle-yellow{background-position:-1358px -190px}.icon-circle-write{background-position:-1385px -190px}.icon-arrows-4-down{background-position:-1412px -190px}.icon-arrows-4-up{background-position:-1440px -190px}.icon-down{background-position:-1468px -190px}.icon-up{background-position:-1494px -190px}.icon-down-1{background-position:-1520px -190px}.icon-msg{background-position:-1544px -190px}.icon-up-1{background-position:-1574px -190px}.icon-circle-1-md{background-position:-1598px -190px}.icon-circle-1-down{background-position:-1622px -190px}.icon-circle-1-up{background-position:-1646px -190px}#reg-prompt-box,.icon-et,.icon-m,.icon-th,.icon-xl,.icon-logo,.icon-down-2,.icon-up-2,.icon-arrows-left,.icon-arrows-right,.icon-g,.icon-i,.icon-tt,.icon-wb,.icon-wx,.icon-f,.icon-fire,.icon-phone,.icon-add-2,.icon-search,.icon-ok,.icon-enter,.icon-add,.icon-triangle-01,.icon-triangle-02,.icon-chart,.icon-circle-yellow,.icon-circle-write,.icon-arrows-4-down,.icon-arrows-4-up{background-image: url(/assets/img/common_z.png)}.icon-down,.icon-up,.icon-down-1,.icon-msg,.icon-up-1,.icon-circle-1-md,.icon-circle-1-down,.icon-circle-1-up{background-image: url(/assets/img/common_z.png)}