@import url('layout.css?__inline');

html, body {
    color: blue;
}

.icon1 {
    padding:20px 0 0 5em;
    background: url(../../img/icons/icon_01.gif?__sprite) no-repeat 0 0;
}

.icon2 {
    padding:20px 0 0 5em;
    background: url(../../img/icons/icon_02.gif?__sprite) no-repeat 0 0;
}

.icon3 {
    padding:20px 0 0 5em;
    background: url(../../img/icons/icon_03.gif?__sprite) no-repeat 0 0;
}

