#mainbody{
    min-height: 770px;
    background: url(/assets/img/newwebsite/download/app/include/bg.png) no-repeat 50% -1px #fff;
    padding-bottom: 40px;
}

.icon-down-iphone{width: 196px;
    height: 70px;background-repeat: no-repeat;}
.icon-down-android{width: 196px;
    height: 70px;background-repeat: no-repeat;}

a.android, a.iphone{
    position: absolute;
    top:460px;
}.icon-down-iphone{background-position:0px 0px}.icon-down-android{background-position:0px -80px}.icon-down-iphone,.icon-down-android{background-image: url(/assets/img/newwebsite/download/app/include/style_z.png)}